/* 全局样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;

    font-family: 'Microsoft YaHei UI', sans-serif;
    background-color: #000000;
    color: white;
}

.fullscreen-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
}

.navbar {
    background-color: #000;
    color: white;
    padding: 22px;
    white-space: nowrap;
}

.navbar {
    display: flex;
    align-items: center;
}


.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}


.content {
    margin-top: 50px;
    padding: 20px;
}


#icon {
    height: 44px;
    width: 44px;
    display: inline-block;
}

.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 27%;
    font-family: 'Microsoft YaHei UI', sans-serif;
    font-size: 20pt;
}

.nav-list li a {
    text-decoration: none;
    color: white;
}

/*.background-image {    flex-grow: 1;   background-image: url('path-to-your-background-image.jpg');     background-size: cover;    background-position: center;}*/

#BackGround1 {
    background-image: url('bg1.png');
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: contain;
}

#BackGround2 {
    background-image: url('bg2.png');
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: contain;
}

#BackGround3 {
    background-image: url('bg3.png');
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: contain;
}

.btn {
    padding: 10px 40px;
    cursor: pointer;
    font-size: 20pt;
}

.btn-primary {
    background-color: #000;
    color: white;
}

.btn-secondary {
    background-color: #000;
    color: white;
}

.footer {
    background-color: #222;
    color: white;
    padding: 14vh;
    text-align: center;
}

.footer-links {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.footer-links li a {
    text-decoration: none;
    color: white;
}

.text-content {
    height: 400px;
    margin: 0%;
    margin-left: 5%;
    margin-right: 5%;
    border-color: #fff;
}

#text-content-title {
    font-family: 'Microsoft YaHei UI', sans-serif;
    font-size: 40pt;
}

#page-title {
    font-family: 'Microsoft YaHei UI', sans-serif;
    font-size: 20pt;
}

#ptext {
    margin-left: 3%;
    margin-right: 3%
}

#ptext2 {
    margin-left: 3%;
    font-size: 18pt
}

#ptext2nomargin {
    font-size: 18pt
}

.ItalicFontClass {
    font-style: italic;
}

.aclass:link {
    color: white;
}


.aclass:hover {
    color: whitesmoke;
}

.aclass:active {
    color: #eee;
}

.aclass:visited {
    color: #fff;
}